<!-- <form name="sessionform"> -->
<ion-view view-title="session">
	<ion-content>
		<ion-list class="session-stats-list">

			<ion-item>
				<span class="stat-name">{{ session.lengthMinutes | minutesToTime }}</span>
				<span class="stat-value">{{ session.cashOut - session.buyIn | currency }}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Net hour rate</span>
				<span class="stat-value">{{ (session.cashOut - session.buyIn)/(session.lengthMinutes/60) | currency }}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Blinds</span>
				<span class="stat-value">${{session.smallBlind}}/{{session.bigBlind}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Buy In</span>
				<span class="stat-value">{{session.buyIn}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Cash Out</span>
				<span class="stat-value">{{session.cashOut}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Tips</span>
				<span class="stat-value">{{session.tips}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Game</span>
				<span class="stat-value">{{session.gameType}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Location</span>
				<span class="stat-value">{{session.location}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Bankroll</span>
				<span class="stat-value">{{session.bankroll}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Table Size</span>
				<span class="stat-value">{{session.tableSize}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">Start</span>
				<span class="stat-value">{{session.startTime}}</span>
			</ion-item>

			<ion-item class="session-stat">
				<span class="stat-name">End</span>
				<span class="stat-value">{{session.endTime}}</span>
			</ion-item>

		</ion-list>

		<div class="session-buttons">
			<button class="btn btn-success" ng-click="endSession()">End Session</button>
			<a ui-sref="sessions"><button class="btn btn-danger" ng-click="deleteSession()">Delete Session</button></a>
		</div>
	</ion-content>
</ion-view>