<ion-view view-title="Sessions">
	<div class="bar bar-subheader">
		<div id="new-session-buttons" ng-controller="CashGameCtrl">
			<a ng-click="open()"><button id="new-cash-game">New Cash Game</button></a>
			<a ng-click="open()"><button id="new-tournament">New Tournament</button></a>
		</div>
	</div>

  <ion-content class="has-subheader">

  	<ul id="sessions-list">
  		<session ng-repeat="item in sessions | orderBy: '-startTime'" item="item" ui-sref="session({sessionId: item._id})"></session>
  	</ul>

  </ion-content>
</ion-view>