#create-session-title {
	font-size: 20px;
	margin: 20px auto;
	text-align: center;
}

form.create-session {
	.input-section {
		display: block;
		margin: 15px auto;
		text-align: center;
		label {
			display: block;
			margin-bottom: 5px;
			color: black;
		}
	}
}

.create-session-button {
	display: block;
	text-align: center;
	margin: 0 auto;
}