
<h1>New Cash Game</h1>
<form>
	<label for="gameSelect">Game</label>
	<select
		name="gameSelect"
		ng-model="selectedGame"
		ng-options="option for option in data.gameOptions"
	>
		<option value="">-- Select Game --</option>
	</select>{{ selectedGame }}
	<br>

	<input ng-model="selectedSmallBind" type="number" min=0></input>{{ selectedSmallBind }}
	<input ng-model="selectedBigBind" type="number" min=0></input>{{ selectedBigBind }}
	<br>

	<label for="locationSelect">Location</label>
	<select
		name="locationSelect"
		ng-model="selectedLocation"
		ng-options="option for option in data.locationOptions"
	>
		<option value="">-- Select Location --</option>
	</select>{{ selectedLocation }}
	<br>

	<label for="bankrollSelect">Bankroll</label>
	<select
		name="bankrollSelect"
		ng-model="selectedBankroll"
		ng-options="option for option in data.bankrollOptions"
	>
	</select>{{ selectedBankroll }}
	<br>

	<label for="tableSizeSelect">Table Size</label>
	<select
		name="tableSizeSelect"
		ng-model="selectedTableSize"
		ng-options="option.name for option in data.tableSizeOptions track by option.value"
	>
		<option value="">-- Select Table Size --</option>
	</select>{{ selectedTableSize }}
	<br>

</form>
 