
<h1>New Cash Game</h1>
<form ng-submit="createGame()">
	<label for="gameSelect">Game</label>
	<select
		name="gameSelect"
		ng-model="newCashGameData.gameType"
		ng-options="option for option in data.gameOptions"
	>
		<option value="">-- Select Game --</option>
	</select>{{ newCashGameData.gameType }}
	<br>

	<label>Small Blind</label>
		<input ng-model="newCashGameData.smallBlind" type="number" min=0></input>{{ newCashGameData.smallBlind }}
	<label>Big Blind</label>
		<input ng-model="newCashGameData.bigBlind" type="number" min=0></input>{{ newCashGameData.bigBlind }}
	<br>

	<label>Buy In</label>
	<input ng-model="newCashGameData.buyIn" type="number" min=0></input>{{ newCashGameData.buyIn }}
	<label>Cash Out</label>
	<input ng-model="newCashGameData.cashOut" type="number" min=0></input>{{ newCashGameData.cashOut }}
	<br>

	<label for="locationSelect">Location</label>
	<select
		name="locationSelect"
		ng-model="newCashGameData.location"
		ng-options="option for option in data.locationOptions"
	>
		<option value="">-- Select Location --</option>
	</select>{{ newCashGameData.location }}
	<br>

	<label for="bankrollSelect">Bankroll</label>
	<select
		name="bankrollSelect"
		ng-model="newCashGameData.bankroll"
		ng-options="option for option in data.bankrollOptions"
	>
	</select>{{ newCashGameData.bankroll }}
	<br>

	<label for="tableSizeSelect">Table Size</label>
	<select
		name="tableSizeSelect"
		ng-model="newCashGameData.tableSize"
		ng-options="option for option in data.tableSizeOptions"
	>
		<option value="">-- Select Table Size --</option>
	</select>{{ newCashGameData.tableSize }}
	<br>

	{{ newCashGameData }}
	<button type="submit">Submit</button>

</form>
 