{{session}}
<ul class="session-stats-list">
	<li class="session-stat">
		<span class="stat-name">21:35</span>
		<span class="stat-value">Value</span>
	</li>

	<li class="session-stat">
		<span class="stat-name">Net hour rate</span>
		<span class="stat-value">Value</span>
	</li>


	<div class="blinds-stat" stat-name="'Blinds'" stat-value="session.smallBlind" stat-value2="session.bigBlind" field-type="blinds" click-to-edit></div>

	<div stat-name="'Buy-in'" stat-value="session.buyIn" field-type="number" click-to-edit></div>
	<div stat-name="'Cashed-out'" stat-value="session.cashOut" field-type="number" click-to-edit></div>
	<div stat-name="'Tips'" stat-value="session.tips" field-type="number" click-to-edit></div>

	<div stat-name="'Game'" stat-value="session.gameType" field-type="dropdown" dropdown-options="'gameType'" click-to-edit></div>
	<div stat-name="'Location'" stat-value="session.location" field-type="dropdown" dropdown-options="'location'" click-to-edit></div>

	<li class="session-stat">
		<span class="stat-name">Blinds</span>
		<span class="stat-value">{{ (session.smallBlind && session.bigBlind) ? "$" + session.smallBlind +"/"+ session.bigBlind : "" }}</span>
	</li>

	<div stat-name="'Bankroll'" stat-value="session.bankroll" field-type="dropdown" dropdown-options="'bankroll'" click-to-edit></div>

	<div stat-name="'Table Size'" stat-value="session.tableSize" field-type="dropdown" dropdown-options="'tableSize'" click-to-edit></div>

	<li class="session-stat">
		<span class="stat-name">Date</span>
		<span class="stat-value">{{ session.startTime }}</span>
	</li>

	<li class="session-stat">
		<span class="stat-name">Break time</span>
		<span class="stat-value">{{ session.breakTime }}</span>
	</li>

	<li class="session-stat">
		<span class="stat-name">Comment</span>
		<span class="stat-value">{{ session.comment }}</span>
	</li>

	<li class="session-stat">
		<span class="stat-name">Hands</span>
		<span class="stat-value">{{ session.hands }}</span>
	</li>

	<button ng-click="endSession()">End Session</button>
	<button ng-click="deleteSession()">Delete Session</button>
